<div class="md:max-w-md mx-auto px-3">
  <div class="mb-10 text-center">
    <h2
      class="font-heading mb-4 text-4xl md:text-5xl text-black font-black tracking-tight"
    >
      Reset Password
    </h2>
    <p class="text-gray-500 font-bold">
      Complete the form with your email address.
    </p>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit()">
    <div class="flex flex-wrap -m-3">
      <div class="w-full p-3">
        <InputText
          formControlName="forgottenPassword"
          name="authForgottenPassword"
          cssLabelClass="block mb-2 text-sm text-gray-500 font-bold"
          cssInputClass="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full"
          labelText="Reset Password"
          icon=""
          id="forgottenPasswordInputText"
          type="text"
          placeHolder="Your email address"
          ngDefaultControl
          [error]="
            resetFormControl['forgottenPassword'].status !== 'VALID' &&
            submitted
          "
          errorMessage="The Email field is invalid. Please try again"
        />
      </div>
      <div class="w-full p-3">
        <div class="flex flex-wrap md:justify-end -m-2">
          <div class="w-full p-2">
            <button
              type="submit"
              class="block px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="w-full p-3">
    <p class="text-gray-600 font-bold">
      <a
        class="text-blue-500 hover:text-blue-600 font-bold"
        [routerLink]="['/auth/login']"
      >
        Back to login
      </a>
    </p>
  </div>
</div>
