<div class="md:max-w-md mx-auto">
  <div class="mb-10 text-center">
    <h2
      class="font-heading mb-4 text-4xl md:text-5xl text-black font-black tracking-tight"
    >
      Join for free
    </h2>
    <p class="text-gray-500 font-bold">
      Lorem ipsum dolor sit amet, to the con adipiscing. Volutpat tempor to the
      condim entum.
    </p>
  </div>
  <form>
    <div class="flex flex-wrap -m-3">
      <div class="w-full p-3">
        <label
          class="block mb-2 text-sm text-gray-500 font-bold"
          for="signUpLightReverseInput3-1"
          >Full Name</label
        >
        <input
          class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full"
          id="signUpLightReverseInput3-1"
          type="text"
          placeholder="First and last name"
        />
      </div>
      <div class="w-full p-3">
        <label
          class="block mb-2 text-sm text-gray-500 font-bold"
          for="signUpLightReverseInput3-2"
          >Email Address</label
        >
        <input
          class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full"
          id="signUpLightReverseInput3-2"
          type="email"
          placeholder="Enter email address"
        />
      </div>
      <div class="w-full p-3">
        <label
          class="block mb-2 text-sm text-gray-500 font-bold"
          for="signUpLightReverseInput3-3"
          >Password</label
        >
        <input
          class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full"
          id="signUpLightReverseInput3-3"
          type="password"
          placeholder="***************"
        />
      </div>
      <div class="w-full p-3">
        <div class="flex flex-wrap items-center justify-between -m-3">
          <div class="w-auto p-3">
            <div class="flex items-center">
              <input
                class="opacity-0 absolute h-6 w-6"
                id="signUpLightReverseCheckbox3-1"
                type="checkbox"
              />
              <div
                class="flex flex-shrink-0 justify-center items-center w-6 h-6 mr-4 text-transparent bg-white border border-gray-200 border-neutral-200 rounded-md"
              >
                <svg
                  width="9"
                  height="7"
                  viewBox="0 0 9 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.603516 3.77075L2.68685 5.85409L7.89518 0.645752"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <label
                class="text-gray-500 font-bold"
                for="signUpLightReverseCheckbox3-1"
                ><span>By signing up, I agree to the </span
                ><a class="text-blue-500 hover:text-blue-600" href="#"
                  >Terms &amp; Conditions</a
                ></label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="w-full p-3">
        <div class="flex flex-wrap md:justify-end -m-2">
          <div class="w-full p-2">
            <a
              class="block px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full"
              href="#"
              >Sign Up</a
            >
          </div>
        </div>
      </div>
      <div class="w-full p-3">
        <p class="text-gray-500 text-center font-bold">
          <span>Already have an account? </span
          ><a class="text-blue-500 hover:text-blue-600 font-bold" href="#"
            >Sign In</a
          >
        </p>
      </div>
    </div>
  </form>
</div>
