<div class="md:max-w-md mx-auto px-3">
  <div class="mb-10 text-center">
    <h2
      class="font-heading mb-4 text-4xl md:text-5xl text-black font-black tracking-tight"
    >
      Welcome to Fleet
    </h2>
    <p class="text-gray-500 font-bold">Login to manage your fleet.</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="flex flex-wrap -m-3">
      <div class="w-full p-3">
        <InputText
          formControlName="email"
          name="authEmail"
          cssLabelClass="block mb-2 text-sm text-gray-500 font-bold"
          cssInputClass="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full"
          labelText="Email Address"
          icon=""
          id="logInEmailInputText"
          type="email"
          placeHolder="Enter Your Email Address"
          ngDefaultControl
          [error]="loginFormControl['email'].status !== 'VALID' && submitted"
          errorMessage="The Email field is invalid. Please try again"
        />
      </div>
      <div class="w-full p-3">
        <InputText
          formControlName="password"
          name="authPassword"
          cssLabelClass="block mb-2 text-sm text-gray-500 font-bold"
          cssInputClass="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full"
          labelText="Password"
          icon=""
          id="logInPasswordInputText"
          type="password"
          placeHolder="Enter your password"
          ngDefaultControl
          [error]="loginFormControl['password'].status !== 'VALID' && submitted"
          errorMessage="The Password field is invalid. Please try again"
        />
      </div>

      <div class="w-full p-3">
        <div class="flex flex-wrap md:justify-end -m-2">
          <div class="w-full p-2">
            <button
              type="submit"
              class="block px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="w-full p-3">
    <p class="text-gray-600 font-bold">
      <span>Don’t have an account? </span>
      <a
        class="text-blue-500 hover:text-blue-600 font-bold"
        [routerLink]="['/auth/register']"
      >
        Create an Account
      </a>
    </p>
    <p class="text-gray-600 font-bold">
      <span>Can't remember password? </span>
      <!-- <button
        class="text-blue-500 hover:text-blue-600 font-bold"
        (click)="openForgottenPasswordModal(forgottenPassword)"
      >
        Forgot password
      </button> -->
      <a
        class="text-blue-500 hover:text-blue-600 font-bold"
        [routerLink]="['/auth/forgotten-password']"
      >
        Forgot password
      </a>
    </p>
  </div>
</div>

<ng-template #forgottenPassword>
  <!-- <Foo />
  <InputText /> -->
  <!-- <form
    [formGroup]="resetForm"
    (ngSubmit)="onResetFormSubmit()"
    class="space-y-6"
    action="#"
  >
    <div>
      <label
        for="forgottenPassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Your email
      </label>
      <input
        formControlName="forgottenPassword"
        type="email"
        name="forgottenPassword"
        id="forgottenPassword"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        placeholder="Your email address"
        required
      />
    </div>
    <div class="mb-3">
      <button class="btn btn-primary">
        <span class="spinner-border spinner-border-sm me-1"></span>
        Submit
      </button>
    </div>
  </form> -->
</ng-template>
